extends base.pug
block head
    link(rel="stylesheet", href="css/style.css")

block title
    title Inicio

block container
    main.mt-5
        .container
            H2.text-center.tcolor Alumna: Melva Robertina Romero Maldonado 
            h3.text-center.tcolor N° cuenta: 0201-1999-00964
            .row 
                .col-6
                    .d-grid.gap-2
                        a.icon.btn.fas.fa-user-graduate(href="/alumnos" role="button") Alumnos
                .col-6
                    .d-grid.gap-2
                        a.icon.btn.i.fas.fa-university(href="/carreras" role="button") Carreras







